In [2]:
tickers = [
    "NVR", "BKNG", "AZO", "MTD", "HII", "BLK", "ADBE", "ORLY", "REGN", "EPAM", "PAYC", "MSCI", "KLAC", "MA",
    "DPZ", "ELV", "IDXX", "MLM", "SOLV", "TDG", "MPWR", "BA", "BIIB", "SNPS", "EQIX", "ALB", "NFLX", "NOC",
    "EG", "CARR", "GNRC", "SPGI", "TYL", "LMT", "NOW", "INTU", "ULTA", "UNH", "WAT", "MKTX", "MCK", "ERIE",
    "SW", "PANW", "AMGN", "ABNB", "AVY", "CHTR", "AMP", "POOL", "LULU", "PNC", "LLY", "DE", "PEP", "HUBB",
    "ESS", "APD", "GWW", "PODD", "GS", "HUM", "WTW", "LIN", "NSC", "AVB", "COST", "VLTO", "NXPI", "PWR",
    "GL", "WST", "TER", "ROP", "ARE", "SBAC", "MSFT", "DHI", "TFX", "ENPH", "IQV", "MGM", "JKHY", "RMD",
    "HOLX", "AMZN", "MRNA", "ADI", "ADSK", "TXN", "MCD", "FICO", "CDNS", "SHW", "ICE", "TMO", "CRL", "DOW",
    "MCO", "MCHP", "LHX", "LOW", "CRM", "EFX", "FDX", "F", "ROL", "ISRG", "XEL", "TSCO", "ALGN", "FMC",
    "DOC", "DD", "MSI", "VRTX", "AMT", "SYK", "NRG", "TTWO", "URI", "QCOM", "XYL", "ACN", "TSLA", "NUE",
    "HCA", "CMS", "EOG", "IT", "EL", "HAS", "LEN", "HLT", "UAL", "CCI", "IVZ", "JBHT", "GD", "ALL",
    "NDSN", "ANSS", "ODFL", "BRO", "MOH", "IR", "UPS", "SCHW", "IFF", "FOXA", "VICI", "CTSH", "TMUS", "KO",
    "PLTR", "RSG", "AWK", "FDS", "MPC", "CAT", "RTX", "DAL", "STZ", "PSA", "CDW", "ETR", "MMC", "NEE",
    "TGT", "IP", "A", "DXCM", "NWS", "BXP"
]

In [1]:
import yfinance as yf
import pandas as pd

In [3]:
# Get market value of all companies

companies = [
    yf.Ticker(ticker).info for ticker in tickers
]

df = pd.DataFrame(companies)
df = df[["symbol", "marketCap"]]
df = df.dropna()
df = df.sort_values(by="marketCap", ascending=False)
df = df.reset_index(drop=True)
df

    symbol      marketCap
0     MSFT  3085475250176
1     AMZN  2130444156928
2     TSLA  1029530451968
3      LLY   708379607040
4      UNH   545019789312
..     ...            ...
169    HAS     8678356992
170   ENPH     8041569280
171    IVZ     7941604864
172    HII     7573867008
173    FMC     6789830144

[174 rows x 2 columns]

In [7]:
all_tickers = pd.read_csv("../data/tickers.csv")["Symbol"]

all_companies = [
    yf.Ticker(ticker).info for ticker in all_tickers
]

all_df = pd.DataFrame(all_companies)
all_df = all_df[["symbol", "marketCap"]]
all_df = all_df.dropna()
all_df = all_df.sort_values(by="marketCap", ascending=False)
all_df = all_df.reset_index(drop=True)
all_df

    symbol     marketCap
0     NVDA  3.482769e+12
1     AAPL  3.401055e+12
2     MSFT  3.085475e+12
3     AMZN  2.130444e+12
4     GOOG  2.119197e+12
..     ...           ...
496    BWA  7.545150e+09
497    WBA  7.331952e+09
498   BBWI  6.910793e+09
499    FMC  6.789830e+09
500   QRVO  6.201897e+09

[501 rows x 2 columns]

In [8]:
# Calculate the total of the market value of the companies in the S&P 500

sparse_market_cap = df["marketCap"].sum()

market_cap = all_df["marketCap"].sum()

sparse_market_cap / market_cap

0.36763735151649374